@using SGBL.Core.Application.ViewModels.Prestamo
@using SGBL.Core.Domain.Enums
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<PrestamoViewModel>

<table class="table">
    <thead>
        <tr>
            <th>Libro</th>
            <th>Usuario</th>
            <th>Estado</th>
            <th>Solicitado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.TituloLibro</td>
                <td>@p.NombreUsuario</td>
                <td>@p.Estado</td>
                <td>@p.FechaSolicitud.ToShortDateString()</td>
                <td>
                    @if (p.Estado == EstadoPrestamo.Pendiente)
                    {
                 <a asp-action="Aprobar" asp-route-id="@p.Id">Aprobar</a>           
                 <a asp-action = "Rechazar" asp-route-id="@p.Id"> Rechaza </a >
                                    }
                    else if (p.Estado == EstadoPrestamo.Aprobado)
                    {
                        <a asp-action="Devolver" asp-route-id="@p.Id">Devolver</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
